* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 10px;
}

body {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
}

#calc {
  width: 400px;
  padding: 0.7em;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

#calc h3 {
  font-weight: 300;
  font-size: 2em;
  color: #666;
}

#operations {
  text-align: right;
}

#previous-operation {
  color: #777;
  padding: 0.4em;
  overflow-wrap: break-word;
  min-height: 2em;
  font-size: 2em;
}

#current-operation {
  min-height: 2em;
  font-size: 3em;
  font-weight: 700;
  padding: 0.4em;
  overflow-wrap: break-word;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
  align-self: center;
}

.buttons-container button {
  border-radius: 50%;
  border: 1px solid transparent;
  height: 3em;
  width: 3em;
  font-size: 3em;
  font-weight: 100;
  margin: 0;
  cursor: pointer;
  color: white;
}

.buttons-container .number {
  background-color: #444444;
}

.buttons-container .number:hover {
  background-color: #787878;
}

.buttons-container .operator {
  background-color: #ff9f0a;
}

.buttons-container .operator:hover {
  background-color: #ffba42;
}

.buttons-container .erase {
  background-color: #777;
}

.buttons-container .erase:hover {
  background-color: #b3b3b3;
}

.buttons-container #equal-button {
  grid-column: span 2;
  width: 6.4em;
  border-radius: 2em;
}
